@import './variables/colors.scss';

#content {
    visibility: hidden;
}

#card {
    display: block;
    position: relative;
    background-color: $white;
    width: 300px;
    height: 600px;
    margin: 0 auto;
}

#card-background {
    position: absolute;
    width: 249px;
    height: 215px;
    top: 70px;
    left: 50px;
}

#select-player-button {
    cursor: pointer;
    display: block;
    width: 270px;
    height: 43px;
    background-color: $grey;
    margin: 0 auto;
    margin-top: 15px;

    span {
        color: $black;
        position: relative;
        left: 15px;
        top: 12px;
    }

    img#arrow {
        position: relative;
        height: 20px;
        width: 20px;
        float: right;
        margin-right: 30px;
    }

    #dropdown-content {
        display: none;
        position: absolute;
        background-color: $purple;
        width: 270px;
        margin: 0 auto;
        margin-top: 20px;
        z-index: 1;
    }
}

#select-player-button:hover {
    #dropdown-content {
        display: block;

        .dropdown-item {
            color: $white;
            text-align: center;
            text-decoration: none;
            display: block;
            margin-top: 10px;
        }

        .dropdown-item:hover {
            color: $pink;
        }
    }
}

#player-img {
    position: absolute;
    width: 150px;
    height: 209px;
    top: 85px;
    left: 15px;
}

#crest-container {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 260px;
    left: 195px;

    #crest {
        max-width: 60px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

#stats-background {
    position: absolute;
    background-color: $pink;
    width: 302px;
    height: 308px;
    top: 292px;
}

#stats-background {
    p {
        color: $white;
        font-size: 20px;
        max-width: 250px;
        margin-left: 20px;
        line-height: 5px;
    }

    #player-position {
        font-size: 18px;
        line-height: 10px;
    }
}

.stat-item:first-child {
    margin-top: 10px;
}

.stat-item {
    width: 270px;
    height: 43px;
    background-color: $grey;
    margin: 0 auto;
    margin-top: 2px;

    span {
        color: $purple;
        position: relative;
        top: 10px;
        font-size: 18px;
    }

    .stat-item-field {
        float: left;
        margin-left: 10px;
    }

    .stat-item-value {
        float: right;
        margin-right: 10px;
        font-weight: bold;
    }
}